@{
    ViewData["Title"] = "Sobre Nós";
}
<h1 class="text-center" style="color:#0d8b8f">@ViewData["Title"]</h1>

<div>
    <p class="text-justify">
        Somos uma instituiçao com o propósito de incentivar a adoção de cães e gatos, conscientizar sobre a posse responsável dos pets e crescer aindamais a cultura de doação para o bem estar do animal.

        "Segundo a Associação Brasileira da Indústria de Produtos para Animais de Estimação (Abinpet), o Brasil é o país com a segunda maior população - são 132,4 milhões de animais -, perdendo apenas para os EUA. Ao mesmo tempo, os números do abandono assustam e, de acordo com a Organização Mundial de Saúde (OMS), não param de aumentar: atualmente estimam-se mais de 30 milhões de animais abandonados no Brasil. Alguns desses bichinhos conseguem um lar por meio de adoção, mas muitos outros ficam sujeitos a atropelamentos, agressões e morte."

        Cada um fazendo sua parte não abandonar seu animalzinho de estimação com fácil e prático sistema de cadastrar e adotar seu pet,para que milhares de cães e gatos tenha a chance de encontrar um lar todos os dias. Adotar um animal é um ato de amor e solidariedade.Antes de tomar essa decisão, porém, é importante avaliar se você e a sua família têm condições para assumir tamanha responsabilidade.
    </p>
    <div class="container" id="Sobre">


        <hr />
        <h1 class="text-center" style="color:#0d8b8f">Nossa Equipe</h1>
        <div class="row ml-2 d-flex justify-content-between">
            <div class="col-md-6 text-center">
                <a href="https://www.linkedin.com/in/wesley-ferreira-3979751aa/" target="_blank"><img src="~/img/avatar2.jpg" class="img-fluid" style="width:220px; height: 220px; border-radius:50%;"></a>
                <h4>Wesley</h4>
                <p class="text-primary">Full-Stack Developer <i class="fas fa-laptop"></i></p>
            </div>
            <div class="col-md-6 text-center">
                <a href="https://www.linkedin.com/in/denis-silva-36625720a/" target="_blank"><img src="~/img/avatar.jpg" class="img-fluid" style="width:220px; height: 220px; border-radius:50%;"></a>
                <h4>Denis</h4>
                <p  class="text-primary">Full-Stack Developer <i class="fas fa-laptop"></i></p>
            </div>
        </div>

    </div>

</div>
